<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate</title>
    <link rel="stylesheet" href="/proyecto/public/CSS/style.css">
</head>
<body>  
    <div class="login-container">
        <form class="login-form" action="/proyecto/apps/Controllers/usuarioController.php" method="POST">
            <h2>Registro</h2>

            <div class="input-group">
                <label for="Nombre">Nombre</label>
                <input type="text" id="Nombre" name="Nombre" required>
            </div>

            <div class="input-group">
                <label for="Apellido">Apellido</label>
                <input type="text" id="Apellido" name="Apellido" required>
                
            </div>

            <div class="input-group">
                <label for="Email">Email</label>
                <input type="email" id="Email" name="Email" required>
            </div>

            <div class="input-group">
                <label for="ContrasenaHash">Contraseña</label>
               <input type="password" id="ContrasenaHash" name="ContrasenaHash" required>

            </div>

        <div class="input-group">
         <label for="ConfirmarContrasena">Confirmar Contraseña</label>
         <input type="password" id="ConfirmarContrasena" name="ConfirmarContrasena" required>

        </div>
            <div class="input-group">
                <label for="Rol">¿Qué deseas hacer?</label>
                <select id="Rol" name="Rol" required>
                    <option value="">Selecciona una opción</option>
                    <option value="Proveedor">Proveedor</option>
                    <option value="Cliente">Cliente</option>

                </select>
            </div>

            <div class="input-group" id="admin_password_group" style="display:none;">
            </div>

            <div class="registro">
                <p>¿Ya tienes cuenta? <a href="/proyecto/public/index.html">Inicia sesión</a></p>
            </div>

            <button type="submit" class="login-btn">Registrarse</button>
        </form>
    </div>
    <script src="/proyecto/public/JS/botonContraseña.js"></script>
</body>
</html>