/* Reset básico */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body centrado */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(231, 216, 195);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor del formulario */
.login-form{
    position: relative;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    width: 300px;
}

.login-form h2{
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}

/* Grupo de inputs */
.input-group{
    margin-bottom: 20px;
    position: relative; 
}

.input-group label{
    display: block;
    font-size: 14px;
    color: #000000;
    margin-bottom: 6px;
}

.input-group input {
    width: 100%;
    padding: 10px 45px 10px 10px; /* 👈 le damos espacio extra a la derecha */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Botón ojo */
.input-group .btn-toggle-pass {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-13%);
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    pointer-events: auto; /* asegura que sea clickeable */
}


/* Focus en input */
.input-group input:focus{
    border: 1px solid #000000;
    outline: none;
}


.btn-toggle-pass:focus {
    outline: 2px solid rgba(0,0,0,0.2);
    border-radius: 4px;
}

/* Botón login/registro */
.login-btn{
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    width: 100%;
}

.login-btn:hover{
    background-color: #acd1b5;
}

/* Enlace de registro */
.registro{
    position: absolute;
    margin-top: 45px;
    right: 2%;
    font-size: 12px;
}

.registro button{
    background-color: transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    text-decoration: underline;
}
